<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Mimi</string>
	<key>CFBundleExecutable</key>
	<string>Mimi</string>
	<key>CFBundleIconFile</key>
	<string>Mimi</string>
    <key>CFBundleIdentifier</key>
    <string>dev.paras.mimi</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Mimi</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
	<string>0.1.7</string>
    <key>CFBundleVersion</key>
	<string>8</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Mimi captures audio played by an app you choose to create a local transcript.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Mimi lets you choose an app or display whose audio it transcribes locally. Mimi does not save screen images.</string>
	<key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>Mimi captures audio from the microphone you choose to create a local transcript.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
